{{ form_start(form) }}
    {{ form_row(form.nom_francais) }}
    {{ form_row(form.nom_basque) }}
    {{ form_row(form.type_affaire) }}
    <button type="submit" class="btn btn-primary">Enregistrer !</button>
{{ form_end(form) }}
