{% extends 'base.html.twig' %}

{% block title %}Affaire index{% endblock %}

{% block body %}
<h1>Affaire index</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCreationAffaire">
  Créer une affaire
</button>


<table class="table">
    <thead>
        <tr>
            <th>Nom français</th>
            <th>Nom basque</th>
            <th>Type de l'affaire</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for affaire in affaires %}
         <td>{{ affaire.nomFrancais }}</td>
        <td>{{ affaire.nomBasque }}</td>
        <td>{% if affaire.typeAffaire.nom is null %}Aucun
        {%else%} {{affaire.typeAffaire.nom}}
        {%endif%}
         </td>

        <td>
            <a type="button" href="{{path('affaire_modification',{'id':affaire.id})}}" class="btn btn-primary">
                Modifier
            </a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSuppressionAffaire">
                Supprimer
            </button>

<!-- Modal suppression affaire -->
<div class="modal fade" id="modalSuppressionAffaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer une affaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <h3><center>Êtes-vous sûr de vouloir supprimer l'affaire {{affaire.nomFrancais}} ?</center></h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas supprimer</button>
        {{ include('affaire/_delete_form.html.twig') }}
    </div>
</div>
</div>

            

        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4"><center>Aucune affaire n'a été eregistré... Pourquoi pas en créer une maintenant ?</center></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<!-- Modal création affaire -->
<div class="modal fade" id="modalCreationAffaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Créer une affaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
     {{ form_start(formCreate) }}
         {{ form_row(formCreate.nom_francais) }}
         {{ form_row(formCreate.nom_basque) }}
         {{ form_row(formCreate.type_affaire) }}
         <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
             <button type="submit" class="btn btn-primary">Enregistrer !</button>
        </div>
    {{ form_end(formCreate) }}
    </div>
    </div>
</div>





{% endblock %}
