<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}Udaleku{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">

  <style language = "css">
    #leMenu {
      float:left;
    }
    #image {
      align-content: center;
      border-radius: 50%;
      background: white;
      height: 170px;
      width: 170px;
    }
    .vertical-menu {
      width: 200px; /* Set a width if you like */
    }
    .vertical-menu > a {
      background-color: #f6d635;
      color: black;
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    .vertical-menu a:hover {
    }
    .vertical-menu a.active {
      color: green;
    }
    #gestionnaire{
      font-size: 1.2em;
      color: #000000;
    }
    #gestionnaire:hover{
      color: #cc0000;
    }
    .btn-purple {
      background: #82647c;
      color: #ffffff;
    }
    .btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open > .dropdown-toggle.btn-purple {
      background: #685063;
      color: #ffffff;
    }
    .btn-purple:active, .btn-purple.active {
      background: #845773;
      box-shadow: none;
    }
    .bg-dark-purple{
      background: #3f182e;
    }
  </style>
  {% endblock %}
</head>




<body>
  <header>
    <center>
      <nav class="navbar navbar-light bg-dark-purple">
        <a class="navbar-brand" href="#"></a>
        <div class="my-2 my-lg-0">
          <a href="/logout" class="btn btn-purple btn-sm" role="button" aria-pressed="true">Déconnexion</a>
        </div>
      </nav>
    </center>
  </header>



  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        {% block menu %}
        <div id = "leMenu">
         <div class="vertical-menu">
           <a href="/gestionSejours"><img src="{{asset('logo-udaleku.png')}}" class="img-fluid" id="image"></a>
           <a href="{{path('sejour_index')}}" id = "gestionnaire">Gestion des séjours</a>
           <a href="{{path('liste_affaire_index')}}" id = "gestionnaire" >Gestion des listes<br>d'affaires</a>
           <a href="{{path('affaire_index')}}" id = "gestionnaire" >Gestion des affaires</a>
           <a href="{{path('enfant_index')}}" id = "gestionnaire">Gestion des enfants</a>
         </div>
       </div>

       {% endblock %}
     </div>


     <!-- Contenu (body) -->
     <div class="col-md-10">
      <br />
      <br />
      <div class="row">
        <h1>
          {% block titrePage %}
          Remplacer le titre dans le block titrePage
          {% endblock %}
        </h1>
      </div>
      <!-- Block contenu le système permettant d'afficher les messages d'erreurs (ou de succès) -->
      {% block messagesSysteme %}
      {% set tabMessages = [] %}
      {% for message in app.flashes('error') %}
      {% set tabMessages = tabMessages|merge([message]) %}
      {% endfor %}
      {% if tabMessages.0 is defined %}
      <div class="alert alert-danger">
        {% for message in tabMessages %}
        {{ message }}
        <br />
        {% endfor %}
      </div>
      {% endif %}
      {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %}
      {% endblock %}
      <hr>
      <!-- Block contenant toutes les fonctionnalités possibles du gestionnaire (créer, modifier, valider...) -->
      {% block outils %}
      Placer toutes les fonctionnalités dans le block outils !
      {% endblock %}
      <br />
      <br />

      {% block body %}
      {% endblock %}
    </div>
  </div>
</div>


{% block javascripts %}
<script src="{{asset('https://code.jquery.com/jquery-3.3.1.slim.min.js')}}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')}}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{asset('assets/js/bootstrap.js')}}"></script>
{% endblock %}
</body>
</html>
