<div>
	{{ form_label(form.new_correspondantAdministratif.responsable_legal,null,{'errors': false})}}
	{{ form_widget(form.new_correspondantAdministratif.responsable_legal)}}
</div>
<div>
	<h6>Un nouveau responsable ? Enregistrez-le !</h6>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.nom,"Nom",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.nom) }}
	</div>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.prenom,"Prénom",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.prenom) }}
	</div>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.email,"Email",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.email) }}
	</div>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.tel_dom,"Téléphone (domicile)",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.tel_dom) }}
	</div>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.tel_port,"Téléphone (portable)",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.tel_port) }}
	</div>
	<div>
		{{ form_label(form.new_correspondantAdministratif.new_responsableLegal.tel_trav,"Téléphone (professionnel)",{'errors': false})}}
		{{ form_widget(form.new_correspondantAdministratif.new_responsableLegal.tel_trav) }}
	</div>
</div>
<br>
<br>
<div>
	{{ form_label(form.new_correspondantAdministratif.num_secu, "Numéro sécurité sociale",{'errors': false})}}
	{{ form_widget(form.new_correspondantAdministratif.num_secu)}}
</div>
<div>
	{{ form_label(form.new_correspondantAdministratif.aide_caf, "Aide CAF",{'errors': false})}}
	{{ form_widget(form.new_correspondantAdministratif.aide_caf)}}
</div>
<div>
	{{ form_label(form.new_correspondantAdministratif.aide_msa, "Aide MSA",{'errors': false})}}
	{{ form_widget(form.new_correspondantAdministratif.aide_msa)}}
</div>
<div>
	{{ form_label(form.new_correspondantAdministratif.aide_autres, "Autres aides",{'errors': false})}}
	{{ form_widget(form.new_correspondantAdministratif.aide_autres)}}
</div>