<div>
    {{ form_label(form.new_responsableLegal.nom,"Nom",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.nom) }}
    {{ form_widget(form.new_responsableLegal.nom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.prenom,"Prénom",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.prenom) }}
    {{ form_widget(form.new_responsableLegal.prenom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.email,"Email",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.email) }}
    {{ form_widget(form.new_responsableLegal.email) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_dom,"Téléphone (domicile)",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.tel_dom) }}
    {{ form_widget(form.new_responsableLegal.tel_dom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_port,"Téléphone (portable)",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.tel_port) }}
    {{ form_widget(form.new_responsableLegal.tel_port) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_trav,"Téléphone (professionnel)",{'errors': false})}}
    {{ form_errors(form.new_responsableLegal.tel_trav) }}
    {{ form_widget(form.new_responsableLegal.tel_trav) }}
</div>