<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Informations concernant l'enfant</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Responsables légaux</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Séjours</a>
</div>
</nav>
{{ form_start(form) }}
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nom) }}
            <div>
                Prénom
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <br>
            <div>
                Date de naissance
                {{ form_errors(form.date_naiss) }}
                {{ form_widget(form.date_naiss) }}
            </div>
            <div>
                     Remarques
     {{ form_errors(form.remarque) }}
     {{ form_widget(form.remarque) }}
            </div>
        </div>
        <div class="col-md-6">
            <div>
                Adresse
                {{ form_errors(form.adresse_1) }}
                {{ form_widget(form.adresse_1) }}
            </div>
            <br>
            <div>
                Complément d'adresse (falcultatif)
                {{ form_errors(form.adresse_2) }}
                {{ form_widget(form.adresse_2) }}
            </div>
            <br>
            {{ form_row(form.ville) }}
            {{ form_row(form.code_postal) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
        Établissement
        {{ form_errors(form.etablissement) }}
        {{ form_widget(form.etablissement) }}
    </div>
    <div>
        Renseignez votre établissement ici s'il n'existe pas déjà
        <div>
            Nom
            {{ form_errors(form.new_etablissement.nom) }}
            {{ form_widget(form.new_etablissement.nom) }}
        </div>
        <div>
            Ville
            {{ form_errors(form.new_etablissement.ville) }}
            {{ form_widget(form.new_etablissement.ville) }}
        </div>
    </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.centre) }}
        </div>
    </div>

</div>

<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

  <div>

  </div>
  <div class="row">
    <div class="col-md-6">
        {{ form_row(form.correspondant_administratif) }}
    </div>
    <div class="col-md-6">
        Deuxième responsable légal (falcultatif)
        {{ form_errors(form.responsable_legal) }}
        {{ form_widget(form.responsable_legal) }}
        <br>
        Renseignez le responsable ici s'il n'existe pas déjà
        <div>
            Nom
            {{ form_errors(form.new_responsableLegal.nom) }}
            {{ form_widget(form.new_responsableLegal.nom) }}
        </div>
        <div>
            Prénom
            {{ form_errors(form.new_responsableLegal.prenom) }}
            {{ form_widget(form.new_responsableLegal.prenom) }}
        </div>
        <div>
            Email
            {{ form_errors(form.new_responsableLegal.email) }}
            {{ form_widget(form.new_responsableLegal.email) }}
        </div>
        <div>
            Téléphone (domicile)
            {{ form_errors(form.new_responsableLegal.tel_dom) }}
            {{ form_widget(form.new_responsableLegal.tel_dom) }}
        </div>
        <div>
            Téléphone (portable)
            {{ form_errors(form.new_responsableLegal.tel_port) }}
            {{ form_widget(form.new_responsableLegal.tel_port) }}
        </div>
        <div>
            Téléphone (professionnel)
            {{ form_errors(form.new_responsableLegal.tel_trav) }}
            {{ form_widget(form.new_responsableLegal.tel_trav) }}
        </div>
    </div>
</div>
</div>
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
  <div>
    <center>
            Séjours
    {{ form_errors(form.sejour) }}
    {{ form_widget(form.sejour) }}
    </center>
</div>
</div>
<button type="submit" class="btn btn-primary">Enregistrer !</button>
</div>
{{ form_end(form) }}
