<div>
    {{ form_label(form.new_responsableLegal.nom)}}
    {{ form_errors(form.new_responsableLegal.nom) }}
    {{ form_widget(form.new_responsableLegal.nom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.prenom,"Prénom")}}
    {{ form_errors(form.new_responsableLegal.prenom) }}
    {{ form_widget(form.new_responsableLegal.prenom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.email,"Email")}}
    {{ form_errors(form.new_responsableLegal.email) }}
    {{ form_widget(form.new_responsableLegal.email) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_dom,"Téléphone (domicile)")}}
    {{ form_errors(form.new_responsableLegal.tel_dom) }}
    {{ form_widget(form.new_responsableLegal.tel_dom) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_port,"Téléphone (portable)")}}
    {{ form_errors(form.new_responsableLegal.tel_port) }}
    {{ form_widget(form.new_responsableLegal.tel_port) }}
</div>
<div>
    {{ form_label(form.new_responsableLegal.tel_trav,"Téléphone (professionnel)")}}
    {{ form_errors(form.new_responsableLegal.tel_trav) }}
    {{ form_widget(form.new_responsableLegal.tel_trav) }}
</div>