{% extends 'base.html.twig' %}

{% block title %}Gestionnaires d'inscription des enfants{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
      <h1>Gestion des enfants</h1>
    </div>
    <div class="col-md-4">
      {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
      {% endfor %}
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
      {% endfor %}
    </div>
  </div>

<a type="button" href="{{path('enfant_creation')}}" class="btn btn-success">
    Inscire un nouvel enfant
</a>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Centre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for enfant in enfants %}
        <tr>
            <td>{{ enfant.nom }}</td>
            <td>{{ enfant.prenom }}</td>
            <td>{{ enfant.dateNaiss ? enfant.dateNaiss|date('d/m/Y') : '' }}</td>
            <td>{{ enfant.centre.ville }}</td>
            <td>
                <a type="button" href="{{path('enfant_consultation',{'id':enfant.id})}}" class="btn btn-primary">
                    Consulter
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">Aucun enfant n'a été encore inscrit... Pourquoi ne pas en inscrire un maintenant ?</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>


{% endblock %}
