{% extends 'base.html.twig' %}

{% block title %}Gestionnaires d'inscription des enfants{% endblock %}

{% block body %}
<h1>Gestion des inscriptions des enfants</h1>
<a type="button" href="{{path('enfant_creation')}}" class="btn btn-success">
    Inscire un nouvel enfant
</a>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Centre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for enfant in enfants %}
        <tr>
            <td>{{ enfant.nom }}</td>
            <td>{{ enfant.prenom }}</td>
            <td>{{ enfant.dateNaiss ? enfant.dateNaiss|date('Y-m-d') : '' }}</td>
            <td>{{ enfant.centre.ville }}</td>
            <td>
                <a type="button" href="{{path('enfant_consultation',{'id':enfant.id})}}" class="btn btn-primary">
                    Consulter
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">Aucun enfant n'a été encore inscrit... Pourquoi pas en inscrire un maintenant ?</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
