{% extends 'base.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block titrePage %}Consultation de la fiche d'un enfant{% endblock %}

{% block outils %}
<a type="button" href="{{path('enfant_creation')}}" class="btn btn-success">
    Inscrire un nouvel enfant
</a>
    <a type="button" href="{{path('enfant_modification',{'id':enfant.id})}}" class="btn btn-primary">
         Modifier
     </a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSuppressionEnfant">
            Désinscrire
     </button>
    <a type="button" href="{{path('enfant_index')}}" class="btn btn-primary">
        Retour
    </a>
     
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ enfant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ enfant.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ enfant.dateNaiss ? enfant.dateNaiss|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Établissement scolaire</th>
                <td>{{ enfant.etablissement ? enfant.etablissement.nom : 'Aucun' }}</td>
            </tr>
            <tr>
                <th>Centre</th>
                <td>{{ enfant.centre.ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ enfant.adresse1 }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ enfant.adresse2 }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ enfant.ville }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ enfant.codePostal }}</td>
            </tr>            
            <tr>
                <th>Remarques</th>
                <td>{{ enfant.remarque }}</td>
            </tr>
            <tr>
                <th>Correspondant administratif</th>
                <td>
                     {{ enfant.correspondantAdministratif.responsableLegal.nom|upper }} {{ enfant.correspondantAdministratif.responsableLegal.prenom}}
                </td>
            </tr>
            <tr>
                <th>Deuxième responsable légal</th>
                <td>
                    {% if enfant.responsableLegal is not null %} 
                        {{enfant.responsableLegal.nom|upper}} {{enfant.responsableLegal.prenom}}
                    {% endif %} 
                </td>
            </tr>
            {% if enfant.sejour is not null %}
            <tr>
                <th>Séjours</th>
                <td>{% for sejour in enfant.sejour %}
                        {{ sejour }} </br>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Modal suppression enfant -->
<div class="modal fade" id="modalSuppressionEnfant" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Désinscrire un enfant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <h3><center>Êtes-vous sûr de vouloir désinscrire {{enfant.prenom}} {{enfant.nom}} ?</center></h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas désinscrire</button>{{ include('enfant/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
