{{ form_start(form) }}

<button type="submit" class="btn btn-primary">Enregistrer !</button>
	<div>
        {{ form_label(form.nom_francais,"Nom français",{'errors': false})}}
        {{ form_widget(form.nom_francais) }}
    </div>
    <div>
        {{ form_label(form.nom_basque,null,{'errors': false})}}
        {{ form_widget(form.nom_basque) }}
    </div>

{{ form_end(form) }}
