{% extends 'base.html.twig' %}

{% block title %}ListeAffaire{% endblock %}

{% block titrePage %} Liste {{ liste_affaire.nomFrancais }} {% endblock %}

{% block outils %}
<a class="btn btn-secondary" href="{{ path('liste_affaire_index') }}" role="button">Retour</a>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSuppressionListeAffaire">
    Supprimer
</button>
{% endblock %}

{% block body %}

<h4>Contenu de la liste</h4>
<table class="table">
<thead>
<tr>
  <th scope="col">Nom français</th>
  <th scope="col">Nom basque</th>
</tr>
</thead>
<tbody>
{% for affaire in liste_affaire.affaire %}
<tr>
  <td>{{affaire.nomFrancais}}</td>
  <td>{{affaire.nomBasque}}</td>
</tr>
{% endfor %}
</tbody>
</table>

    <!-- Modal suppression affaire -->
<div class="modal fade" id="modalSuppressionListeAffaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer une liste</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	<div class="modal-body">
    <h3><center>Êtes-vous sûr de vouloir supprimer la liste {{liste_affaire.nomFrancais}} ?</center></h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas supprimer</button>{{ include('liste_affaire/_delete_form.html.twig') }}
  </div>
</div>
</div>

{% endblock %}
