
{{ form_start(form) }}

<button type="submit" class="btn btn-primary"> Valider </button>

<div class="modal-body row">
	<div class="col-md-6">
		
		{# Partie concernant le séjour #}
		<fieldset>
			<div>
				{{ form_label(form.nom,"Nom",{'errors': false})}}
				{{ form_widget(form.nom) }}
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col">
						{{ form_label(form.date_debut,"Date de début",{'errors': false})}}
						{{ form_widget(form.date_debut) }}
					</div>
					<div class="col">
						{{ form_label(form.date_fin,"Date de fin",{'errors': false})}}
						{{ form_widget(form.date_fin) }}
					</div>
					<div class="w-100"></div>
					<div class="col">
						{{ form_label(form.num_ministre,"N° Ministère",{'errors': false})}}
						{{ form_widget(form.num_ministre) }}
					</div>
					<div class="col">
						{{ form_label(form.cout,"Coût",{'errors': false})}}
						{{ form_widget(form.cout) }}
					</div>
				</div>
			</div>	
		</fieldset>
		
	</br></br>

	<div>
		{{ form_label(form.listeAffaire,"Liste d'affaires pour ce séjour", {'errors': false}) }}
		{{ form_widget(form.listeAffaire, {'attr': {'onChange': 'displayAffaire()' }}) }}
	</div>	

	<p id="demo">
		Aucun
	</p>
	
	<script>
	
		var lAffaire = Array( "{{ listeAffaire[0].affaire[0].nomFrancais }}",
							  "{{ listeAffaire[1].nomFrancais }}",
							  "{{ listeAffaire[2].nomFrancais }}",
							  "{{ listeAffaire[3].nomFrancais }}",
							  "{{ listeAffaire[4].nomFrancais }}",
							  "{{ listeAffaire[5].nomFrancais }}"
							);
							
		console.log( lAffaire )
		
		/*
		var listeaffaire = {
			0 : {
				nomFrancais:"pouet",
				nomBasque:"tee",
				typeAffaire : { 
							nom : "dfrf"
			},
			1 : {
				nomFrancais:"pouet",
				nomBasque:"tee",
				typeAffaire : { 
							nom : "dfrf"
			}
		}
		*/
		
		function displayAffaire()
		{
			var listeChoisie = document.getElementById("sejour_listeAffaire");

			var body = document.getElementById("tabAffaires");
		
			var index = listeChoisie.selectedIndex;
			pElem.innerHTML = index;

			switch(index)
			{
				case 0:
					body.innerHTML =
					"{% for affaire in listeAffaire[0].affaire %}" +
						"<tr>" +
							"<td> 1 </td>" +
							"<td> {{ affaire.nomFrancais }} </td>" +
							"<td> {{ affaire.nomBasque }} </td>" +
							"<td> {{ affaire.typeAffaire.nom }} </td>" +
						"</tr>" +
					"{% endfor %}";
					break;
					
				case 1:
					body.innerHTML =
					"{% for affaire in listeAffaire[1].affaire %}" +
						"<tr>" +
							"<td> 1 </td>" +
							"<td> {{ affaire.nomFrancais }} </td>" +
							"<td> {{ affaire.nomBasque }} </td>" +
							"<td> {{ affaire.typeAffaire.nom }} </td>" +
						"</tr>" +
					"{% endfor %}";
					break;					
			}

		}
	</script>
	
	<table class="table">
		<thead>
			<tr>
				<th> Quantité </th>
				<th> Français </th>
				<th> Euskara </th>
				<th> Type </th>
			</tr>
		</thead>
		<tbody id="tabAffaires">
			{% if sejour.listeAffaire is not null %}
				{% for affaire in sejour.listeAffaire.affaire  %}
					<tr id = "tr">
						<td> 1 </td>
						<td> {{ affaire.nomFrancais }} </td>
						<td> {{ affaire.nomBasque}} </td>
						<td> {{ affaire.typeAffaire.nom }} </td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	
</div>
<div class="col-md-6">

	{# Partie concernant les enfants #}

	Liste des enfants inscrits à ce séjour 
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAjoutEnfants">
          Modifier
	</button>
	
		{{ form_widget(form.enfants) }}
		
	{#
	<table class="table">
		<thead>
			<tr>
				<th> Nom </th>
				<th> Prénom </th>
				<th> Centre </th>
			</tr>
		</thead>
		<tbody>
			{% if sejour.enfants is not null %}
			{% for enfant in sejour.enfants  %}
			<tr>
				<td> {{enfant.nom}} </td>
				<td> {{enfant.prenom}} </td>
				<td> {{enfant.centre.ville}} </td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
	#}
	
	</div>
</div>
{{ form_end(form) }}

{#
	<div class="modal fade bd-example-modal-xl" id="modalAjoutEnfants" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
			
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"> Modification de la liste des enfants </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			
					
			<div class="modal-body row">	
				<div class="col-md-5">
					Enfants inscrits au centre
					
					<table class="table">
						<thead>
							<tr>
								<th> Nom </th>
								<th> Prénom </th>
								<th> Centre </th>
							</tr>
						</thead>
						<tbody>
							{% if sejour.enfants is not null %}
							{% for enfant in sejour.enfants  %}
							<tr>
								<td> {{enfant.nom}} </td>
								<td> {{enfant.prenom}} </td>
								<td> {{enfant.centre.ville}} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
				
				<div class="col-md-2">
					</br>
					</br>
				
					<div class="text-center">
					
						Ajouter à la liste

						<button class="btn btn-primary"> >>> </button>	
						
					</div>		
					
					</br>
					
					<div class="text-center">
						Retirer de la liste

						<button class="btn btn-primary"> <<< </button>

					</div>
					
					</br>
					</br>
					</br>
					
					<div class="text-center">
						<button class="btn btn-primary"> Vider la liste </button>
					</div>				
				</div>
				
				
				<div class="col-md-5">
					Enfants inscrits à ce séjour
					<table class="table">
						<thead>
							<tr>
								<th> Nom </th>
								<th> Prénom </th>
								<th> Centre </th>
							</tr>
						</thead>
						<tbody>
							{% if sejour.enfants is not null %}
							{% for enfant in sejour.enfants  %}
							<tr>
								<td> {{enfant.nom}} </td>
								<td> {{enfant.prenom}} </td>
								<td> {{enfant.centre.ville}} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
				
			
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"> Annuler </button> 
				<button type="button" class="btn btn-primary" data-dismiss="modal"> Enregistrer </button> 
			</div>
			
		</div>
	</div>
#}