
{{ form_start(form) }}

<button type="submit" class="btn btn-primary"> Valider </button>

<div class="modal-body row">
	<div class="col-md-6">
		
		{# Partie concernant le séjour #}
		<fieldset>
			<div>
				{{ form_label(form.nom,"Nom",{'errors': false})}}
				{{ form_widget(form.nom) }}
			</div>
			

			
			<div class="container">
				<div class="row">
					<div class="col">
						{{ form_label(form.date_debut,"Date de début",{'errors': false})}}
						{{ form_widget(form.date_debut) }}
					</div>
					<div class="col">
						{{ form_label(form.date_fin,"Date de fin",{'errors': false})}}
						{{ form_widget(form.date_fin) }}
					</div>
					<div class="w-100"></div>
					<div class="col">
						{{ form_label(form.num_ministre,"N° Ministère",{'errors': false})}}
						{{ form_widget(form.num_ministre) }}
					</div>
					<div class="col">
						{{ form_label(form.cout,"Coût",{'errors': false})}}
						{{ form_widget(form.cout) }}
					</div>
				</div>
			</div>	
		</fieldset>
		
	</br></br>

	<div>
		{{ form_label(form.listeAffaire,"Liste d'affaires pour ce séjour", {'errors': false}) }}
		{{ form_widget(form.listeAffaire, {'attr': {'onChange': 'displayAffaire()' }}) }}
	</div>	
		
	<script>
		function displayAffaire()
		{
			var listeChoisie = document.getElementById("sejour_listeAffaire");
		
			var body = document.getElementById("tabAffaires");
		
			var index = listeChoisie.selectedIndex;

			switch(index)
			{
				case 0:
					body.innerHTML =
					"{% for affaire in listeAffaire[0].affaire %}" +
						"<tr>" +
							"<td> 1 </td>" +
							"<td> {{ affaire.nomFrancais }} </td>" +
							"<td> {{ affaire.nomBasque }} </td>" +
							"<td> {{ affaire.typeAffaire.nom }} </td>" +
						"</tr>" +
					"{% endfor %}";
					break;
					
				case 1:
					body.innerHTML =
					"{% for affaire in listeAffaire[1].affaire %}" +
						"<tr>" +
							"<td> 1 </td>" +
							"<td> {{ affaire.nomFrancais }} </td>" +
							"<td> {{ affaire.nomBasque }} </td>" +
							"<td> {{ affaire.typeAffaire.nom }} </td>" +
						"</tr>" +
					"{% endfor %}";
					break;					
			}			
		}
	</script>
	
	
	
	<table class="table">
		<thead>
			<tr>
				<th> Quantité </th>
				<th> Français </th>
				<th> Euskara </th>
				<th> Type </th>
			</tr>
		</thead>
		<tbody id="tabAffaires">
			{% if sejour.listeAffaire is not null %}
				{% for affaire in sejour.listeAffaire.affaire  %}
					<tr id = "tr">
						<td> 1 </td>
						<td> {{ affaire.nomFrancais }} </td>
						<td> {{ affaire.nomBasque}} </td>
						<td> {{ affaire.typeAffaire.nom }} </td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	
</div>
<div class="col-md-6">

	{# Partie concernant les enfants #}

	Liste des enfants inscrits à ce séjour 
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalAjoutEnfants">
          Modifier
	</button>
	
	<table class="table">
		<thead>
			<tr>
				<th> Nom </th>
				<th> Prénom </th>
				<th> Centre </th>
			</tr>
		</thead>
		<tbody>
			{% if sejour.enfants is not null %}
			{% for enfant in sejour.enfants  %}
			<tr>
				<td> {{enfant.nom}} </td>
				<td> {{enfant.prenom}} </td>
				<td> {{enfant.centre.ville}} </td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>

	</div>
</div>

{{ form_end(form) }}

	<div class="modal fade" id="modalAjoutEnfants" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"> /!\ Suppression d'un séjour </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
			<h3><center>Êtes-vous sûr de vouloir supprimer le séjour {{sejour.nom}} ?</center></h3>
		</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas supprimer</button>{{ include('sejour/_delete_form.html.twig') }}
			</div>
		</div>
	</div>