{% extends 'base.html.twig' %}

{% block title %}Modification d'un séjour {% endblock %}

{% block titrePage %} Modification du séjour : {{sejour.nom}} {% endblock %}

{% block outils %}
<a class="btn btn-success" href="{{ path('sejour_creation') }}" role="button"> Créer </a>
<a class="btn btn-primary" href="#" role="button"> Ouvrir </a>

<div class="btn-group" role="group">
  <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <a class="dropdown-item" href="{{ path('sejour_modification', {'id': sejour.id}) }}"> Modifier </a>
    {{ include('sejour/_delete_form.html.twig') }}
    <a class="dropdown-item" href="#"> Imprimer, générer <br> et publipostage </a>
  </div>
</div>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSuppressionSejour">
	Supprimer
</button>

<a class="btn btn-primary" href="{{ path('sejour_consultation',{'id':sejour.id}) }}" role="button"> Annuler les modifications</a>

{% endblock %}

{% block body %}

	{{ include('sejour/_form.html.twig') }}

	<div class="modal fade" id="modalSuppressionSejour" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"> /!\ Suppression d'un séjour </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
			<h3><center>Êtes-vous sûr de vouloir supprimer le séjour {{sejour.nom}} ?</center></h3>
		</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Ne pas supprimer</button>{{ include('sejour/_delete_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
