{% extends 'base.html.twig' %}

{% block title %}Sejour index{% endblock %}

{% block body %}
    <h1>Sejour index</h1>

    {<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>N°_ministre</th>
                <th>Cout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td>{{ sejour.nom }}</td>
                <td>{{ sejour.dateDebut ? sejour.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ sejour.dateFin ? sejour.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ sejour.numMinistre }}</td>
                <td>{{ sejour.cout }}</td>
                <td>
                    <a href="{{ path('sejour_consultation', {'id': sejour.id}) }}">show</a>
                    <a href="{{ path('sejour_modification', {'id': sejour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sejour_creation') }}">Create new</a>}
{% endblock %}
